/* font-family: belarius-sans,sans-serif;
font-weight: 400;
font-style: normal; */

/*font-family: maecenas, serif;
font-weight: 600;
font-style: normal;  */

body {
  margin: 5% 5%;
}

h1 {
  font-family: "maecenas", serif;
  font-weight: 600;
  color: #708AF9;
  font-size: 3rem;
  margin-bottom: 24px;
}
/* test */

.btn {
  text-decoration: none;
  color: #181818;
  font-family: "belarius-sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  padding: 0;

}

.btn:hover {
  color: #708AF9;
}

.card {
  border-radius: 0;
}

.card-header {
  background-color: #ECFAFF;
  padding: 12px 24px;
}

h2 {
  font-family: "belarius-sans", sans-serif;
  font-weight: 400;
  color: #F291A4;
  font-size: 1.5rem;
  line-height: 1.5;
}

p {
  font-family: "belarius-sans", sans-serif;
  font-weight: 400;
  color: #181818;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 24px;


}

i {
  margin: 0 12px 0 0;
  font-size: 1.5rem;
}

span {
  font-family: "belarius-sans", sans-serif;
  font-weight: 400;
  color: #F291A4;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-left: 6px;
  padding-right: 12px;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


img {
  margin: 2% 0;
  width: 100px;
  height: auto;
}

h3 {
  color: #708AF9;
  font-family: "belarius-sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0;

}

.party {
  color: #708AF9;
  margin-top: 24px;
}
.card-body {
  font-family: "belarius-sans", sans-serif;
  font-weight: 400;
  color: #181818;
  font-size: 1.5rem;
  line-height: 1.5;

}

.main-div {
  margin: auto;
}

/*  */
